<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head') %>
    <title>INGREDIENTES</title>
</head>
<body>
    <header class="conteiners">
        <%- include('./partials/header') %>
    </header>
    <section class="conteiners ingHeader">
        <h1>ingredientes</h1>
        <button>adicionar</button>
    </section>
    <section class="conteiners ingredientes">
        <% ingredientes.forEach(ingrediente => { %>
            <div class="ingrediente" nome="<%= ingrediente.nome %>">
                <p><%= ingrediente.nome %></p>
                
                <div>
                    <button nome="<%= ingrediente.nome %>">editar</button>
                    <form action="/ingredientes/edit" method="post" nome="<%= ingrediente.nome %>">
                        <h3>editar</h3>
                        <input type="hidden" name="nomeAntigo" value="<%= ingrediente.nome %>">
                        <input type="text" name="nomeNovo" placeholder="novo nome">
                        <input type="hidden" name="valorAntigo" value="<%= ingrediente.nome %>">
                        <input type="text" name="valorNovo" placeholder="novo preço">
                        <input type="submit" value="editar">
                    </form>

                    <p>R$<%= ingrediente.valor %>/g</p>

                    <button nome="<%= ingrediente.nome %>">apagar</button>
                    <form action="/ingredientes/delete" method="post" nome="<%= ingrediente.nome %>">
                        <h3>Deseja mesmo apagar?</h3>
                        <input type="hidden" name="nome" value="<%= ingrediente.nome %>">
                        <button>não</button>
                        <input type="submit" value="sim">
                    </form>
                </div>
               
            </div>
        <% }) %>
    </section>
    
    <div class="opacidade"></div>
    
    <section class="addIngredientes" id="">
        <!-- ADD INGREDIENTE -->
        <h2>adicionar ingrediente</h2>
        <form action="/ingredientes/add" method="post" id="add-ingrediente">
            <input type="text" name="nome" placeholder="nome">
            <input type="text" name="valor" placeholder="valor">
            <input type="text" name="quantidade" placeholder="quantidade">
            <div>
                <div>
                    <input id="u" type="radio" name="medida" value="u">
                    <label for="u">unidades</label>
                </div>
                <div>
                    <input id="g" type="radio" name="medida" value="g">
                    <label for="g">gramas</label>
                </div>
                <div>
                    <input id="ml" type="radio" name="medida" value="ml">
                    <label for="ml">mililitro</label>
                </div>
            </div>
            <input type="submit" value="adicionar">
        </form>

    </section>

   <div class="div-show"></div>
   <div class="div-hide"></div>

    <script src="/script.js"></script>
</body>
</html>