<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head') %>
    <title>INGREDIENTES</title>
</head>
<body>
    <header class="conteiners">
        <%- include('./partials/header') %>
    </header>
    <section class="conteiners">
        <% ingredientes.forEach(ingrediente => { %>
            <div class="ingrediente" nome="<%= ingrediente.nome %>">
                <h2><%= ingrediente.nome %></h2>
                <p>Preço = <%= ingrediente.valor %></p>
                <form action="/ingredientes/edit" method="post">
                    <input type="hidden" name="nomeAntigo" value="<%= ingrediente.nome %>">
                    <input type="text" name="nomeNovo" placeholder="novo nome">
                    <input type="hidden" name="valorAntigo" value="<%= ingrediente.nome %>">
                    <input type="text" name="valorNovo" placeholder="novo preço">
                    <input type="submit" value="editar">
                </form>
                <form action="/ingredientes/delete" method="post">
                    <input type="hidden" name="nome" value="<%= ingrediente.nome %>">
                    <input type="submit" value="apagar">
                </form>
            </div>
        <% }) %>
    </section>

    <section class="conteiners">
        <!-- ADD INGREDIENTE -->
        <h2>ADICIONAR INGREDIENTE</h2>
        <form action="ingredientes/add" method="post">
            <input type="text" name="nome" placeholder="nome">
            <input type="text" name="valor" placeholder="valor">
            <input type="submit" value="enviar">
        </form>
        <% if (typeof(aviso) != "undefined") { %>
         <h3><%= aviso %></h3>
        <% } %>
    </section>
</body>
</html>