<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head') %>
    <title>INGREDIENTES</title>
</head>
<body>
    <header class="conteiners">
        <%- include('./partials/header') %>
    </header>

    <section class="conteiners pageHeader">
        <h1>ingredientes</h1>
        <button>adicionar</button>
    </section>

    <section class="conteiners ingredientes">
        <% ingredientes.forEach( ingrediente => { %>
            <% if (ingrediente.medida == "g") { %>
                <% valor = (ingrediente.preco * 1000).toFixed(2) %>
                <% ingrediente.medida = "kg" %>
            <% } else if (ingrediente.medida == "ml") { %>
                <% valor = (ingrediente.preco * 1000).toFixed(2) %>
                <% ingrediente.medida = "L" %>
            <% } else { %>
                <% valor = ingrediente.preco %>
            <% } %>
            <div class="ingrediente" nome="<%= ingrediente.nome %>">
                <p><%= ingrediente.nome %></p>
                <div>
                    <img src="/src/lapis.png" alt="editar" nome="<%= ingrediente.nome %>">
                    <form action="/ingredientes/edit" method="post" nome="<%= ingrediente.nome %>">
                        <h2>editar</h2>
                        <input type="hidden" name="nomeAntigo" value="<%= ingrediente.nome %>">
                        <input type="text" name="nome" value="<%= ingrediente.nome %>" placeholder="nome" autocomplete="off">
                        <input type="text" name="valor" value="<%= ingrediente.valor %>" placeholder="valor" autocomplete="off">
                        <input type="text" name="quantidade" value="<%= ingrediente.quantidade %>" placeholder="quantidade" autocomplete="off">
                        <div class="radios">
                            <label>
                                <input type="radio" name="medida" value="u">
                                unidades
                            </label>
                            <label>
                                <input type="radio" name="medida" value="g">
                                gramas
                            </label>
                            <label>
                                <input type="radio" name="medida" value="ml">
                                mililitro
                            </label>
                        </div>
                        <input type="submit" value="editar">
                    </form>

                    <p>R$<%= valor %>/<%= ingrediente.medida %></p>

                    <img src="/src/lixo.png" alt="deletar" nome="<%= ingrediente.nome %>">
                    <form action="/ingredientes/delete" method="post" nome="<%= ingrediente.nome %>">
                        <h3>Deseja mesmo apagar?</h3>
                        <input type="submit" value="sim">
                        <input type="hidden" name="nome" value="<%= ingrediente.nome %>">
                        <button>não</button>
                       
                    </form>
                </div>
               
            </div>
        <% }) %>
    </section>
    
    <div class="opacidade"></div>
    <section class="addConteudo">
        <h2>adicionar ingrediente</h2>
        <form action="/ingredientes/add" method="post" class="add">
            <input type="text" name="nome" placeholder="nome" autocomplete="off">
            <input type="text" name="valor" placeholder="valor" autocomplete="off">
            <input type="text" name="quantidade" placeholder="quantidade" autocomplete="off">
            <div class="radios">
                <label>
                    <input type="radio" name="medida" value="u" checked>
                    unidades
                </label>
                <label>
                    <input type="radio" name="medida" value="g">
                    gramas
                </label>
                <label>
                    <input type="radio" name="medida" value="ml">
                    mililitro
                </label>
            </div>
            <input type="submit" value="adicionar">
        </form>

    </section>
    <script src="/script.js"></script>
</body>
</html>