<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head') %>
    <title>PEDIDOS</title>
</head>

<body>
    <header class="conteiners">
        <%- include('./partials/header') %>
    </header>

    <section class="conteiners pageHeader">
        <h1>pedidos</h1>
        <button>adicionar</button>
    </section>

    <section class="conteiners pedidos">
        <% pedidos.forEach(pedido => { %>
        <div class="pedido">
            <h1><%= pedido.cliente %></h1>
            <h4><%= pedido.data.split('-').reverse().join('-') %></h4>
            <div class="listaProdutos">
                <!-- <ul>
                    <% for(let [produto, valor] of Object.entries(pedido.produtos)) { %>
                        <li><%= produto %>: <%= valor[0] %> unidades |   R$<%= valor[1].toFixed(2) %></li>
                    <% } %>
                </ul> -->
                <table>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                    </tr>
                    <% for(let [produto, valor] of Object.entries(pedido.produtos)) { %>
                        <tr>
                            <td><%= produto %></td>
                            <td><%= valor[0] %></td>
                            <td>R$<%= valor[1].toFixed(2) %></td>
                        </tr>
                    <% } %>
                </table>
            </div>
          
            <p class="telefone"><%= pedido.telefone %></p>

            <div>
                <img src="/src/lapis.png" alt="editar" nome="<%= pedido.cliente %>">
                <form action="/pedidos/edit" method="post" class="prodLarg">
                    <h3>editar</h3>
                    <div class="editar-produto">
                        <input type="hidden" name="nomeAntigo" value="<%= pedido.cliente %>" autocomplete="off">
                        <input type="text" name="cliente" placeholder="cliente" value="<%= pedido.cliente %>" autocomplete="off">
                        <input type="text" placeholder="telefone" name="telefone" value="<%= pedido.telefone %>" autocomplete="off">
                        <input type="date" name="data" value="<%= pedido.data %>">
                        <div class="selecionarProdutos">
                            <% for (let [produto, valor] of Object.entries(pedido.produtos)) { %>
                                <div>
                                    <p><%= produto %></p>
                                    <div>
                                        <input type="number" name="<%= produto %>" value="<%= valor[0] %>">
                                        <p><%= (valor[1]/valor[0]).toFixed(2)  %></p>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <p class="valorPedido">Valor:</p>
                        <input type="submit" value="editar">
                    </div>
                </form>

                <p class="valorPedido"> R$<%= pedido.valor.toFixed(2) %> </p>

                <img src="/src/lixo.png" alt="deletar" nome="<%= pedido.cliente %>">
                <form action="/pedidos/delete" method="post">
                    <h3>Deseja mesmo apagar?</h3>
                    <input type="submit" value="sim">
                    <input type="hidden" name="nome" value="<%= pedido.cliente %>">
                    <button>não</button>
                </form>
            </div>


        </div>
        <% }) %>
    </section>

    <div class="opacidade"></div>
    
    <section class="addConteudo prodLarg">
        <h2>adicionar pedido</h2>
        <form action="/pedidos/add" method="post" class="add" id="add-pedido">
            <input type="text" name="cliente" placeholder="cliente" autocomplete="off">
            <input type="text" maxlength="15" placeholder="telefone" name="telefone" oninput="formatarTelefone(this)" autocomplete="off">
            <input type="date" id="dataInput" name="data" min="">
            <div class="selecionarProdutos"></div>
            <p class="valorPedido">Valor:</p>
            <input type="submit" value="adicionar">
        </form>
        
        </section>
        
    <script src="/script.js"></script>
</body>

</html>