<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head') %>
    <title>PRODUTOS</title>
</head>
<body>
    <header class="conteiners">
        <%- include('./partials/header') %>
    </header>

    <section class="conteiners pageHeader">
        <h1>produtos</h1>
        <button>adicionar</button>
    </section>

    <section class="conteiners produtos">
        <% produtos.forEach(produto => { %>
            <div class="produto">
                <h1><%= produto.nome %></h1> 
                <h4>ingredientes</h4>
                <div class ="listaIngredientes">
                    <ul>
                        <% for(let [ingrediente, valor] of Object.entries(produto.ingredientes))  { %>
                            <li><%= ingrediente %>: <%= valor[0] %> - R$<%= Number(valor[1]).toFixed(2) %></li>
                        <% } %>
                    </ul>
                </div>
                <p class="lucro">lucro: <%= produto.lucro %>%</p>
                
                <div>
                    <img src="/src/lapis.png" alt="editar" nome="<%= produto.nome %>">
                    <form action="/produtos/edit" method="post" class="prodLarg">
                        <h3>editar</h3>
                        <div class="editar-produto">
                            <input type="hidden" name="nomeAntigo" value="<%= produto.nome %>">
                            <input type="text" name="nome" placeholder="nome" value="<%= produto.nome %>">
                            <div class="selecionarIngredientes">
                                <% for (let [ingrediente, valor] of Object.entries(produto.ingredientes)) { %>
                                    <div>
                                        <p><%= ingrediente %></p>
                                        <div>
                                            <input type="number" name="<%= ingrediente %>" value="<%= valor[0] %>">
                                            <p class="medidas"><%= valor[2] %></p>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <input type="text" name="lucro" placeholder="lucro" value="<%= produto.lucro %>">
                            <input type="submit" value="editar">
                        </div>
                    </form>

                    <p>R$<%= produto.preco.toFixed(2) %></p>

                    <img src="/src/lixo.png" alt="deletar" nome="<%= produto.nome %>">
                    <form action="/produtos/delete" method="post">
                        <h3>Deseja mesmo apagar?</h3>
                        <input type="submit" value="sim">
                        <input type="hidden" name="nome" value="<%= produto.nome %>">
                        <button>não</button>
                    </form>
                </div>
           
                
            </div>

  
        <% }) %>
    </section>

    <div class="opacidade"></div>
    
    <section class="addConteudo prodLarg">
        <h2>adicionar produto</h2>
        <form action="/produtos/add" method="post" class="add" id="add-produto">
            <input type="text" name="nome" placeholder="nome">
            <div class="selecionarIngredientes"></div>
            <input type="text" name="lucro" placeholder="lucro em %">
            <p class="valorLucro">Valor:</p>
            <input type="submit" value="adicionar"> 
        </form>
        
        </section>
    <script src="/script.js"></script>
</body>
</html>