<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head') %>
    <title>PRODUTOS</title>
</head>
<body>
    <header class="conteiners">
        <%- include('./partials/header') %>
    </header>

    <section class="conteiners pageHeader">
        <h1>produtos</h1>
        <button>adicionar</button>
    </section>

    <section class="conteiners produtos">
        <% produtos.forEach(produto => { %>
            <div class="produto">
                
                <h1><%= produto.nome %></h1> 
                <h4>ingredientes</h4>
                <div class ="listaIngredientes">
                    <ul>
                     
                        <% for(let i in produto.ingredientes) { %>
                            <li><%= i %> : <%= produto.ingredientes[i] %></li>
                        <% } %>
                    </ul>
                </div>
                <p id="lucro">lucro: <%= produto.lucro %></p>
                

                <div>
                    <img src="/src/lapis.png" alt="editar" nome="<%= produto.nome %>">
                    
                    <form action="/produtos/edit" method="post" nome="<%= produto.nome %>" class="editar-produto">
                        <h3>editar</h3>
                        <input type="hidden" name="nomeAntigo" value="<%= produto.nome %>">
                        <input type="text" name="nomeNovo" placeholder="novo nome">
                        <input type="hidden" name="lucroAntigo" value="<%= produto.nome %>">
                        <input type="text" name="lucroNovo" placeholder="novo lucro">
                        <!-- <div class="selecionarIngredientes"></div> -->

                        <input type="submit" value="editar">
                    </form>

                    <p id="valor">R$ </p>

                    <img src="/src/lixo.png" alt="deletar" nome="<%= produto.nome %>">
                    <!-- <form action="/produtos/delete" method="post" nome="<%= produto.nome %>">
                        <h3>Deseja mesmo apagar?</h3>
                        <input type="submit" value="sim">
                        <input type="hidden" name="nome" value="<%= produto.nome %>">
                        <button>não</button>
                       
                    </form> -->
                </div>
           
                
            </div>

  
        <% }) %>
    </section>

    <div class="opacidade"></div>
    
    <section class="addConteudo prodLarg">
        <h2>adicionar produto</h2>
        <form action="/produtos/add" method="post" class="add" id="add-produto">
            <input type="text" name="nome" placeholder="nome">
            <div class="selecionarIngredientes"></div>
            <input type="text" name="lucro" placeholder="lucro em %">
            <p id="valorLucro">Valor:</p>
            <input type="submit" value="adicionar"> 
        </form>
        
        </section>
    <script src="/script.js"></script>
</body>
</html>